<p> Your question </p>
<%= params[:question]  %>
<p> Coach Answer </p>
<% if params[:question].include?('?') %>
<%= 'Silly question, get dressed and go to work!'  %>
<% elsif params[:question].capitalize == 'I am going to work' %>
<%= 'Great!' %>
<% else %>
<%= "I don't care, get dressed and go to work!" %>
<% end %>
