
<form action="/answer" method='get'>
  <div class='form-group'>
    <label for="inputquestion">Your question</label>
    <input type="text" name="question" placeholder="Type your question here">
  </div>
    <button type="submit" class="btn btn-primary">Ask!</button>
</form>
